*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Ubuntu';
}

header{
    position: sticky; top: 0;
    #navbar{
        
        transition: ease 0.3s;
        background-color: rgb(255, 139, 139);
        width: 100%;
        height: 90px;
        
        ul{
            
            display: flex;
            gap: 10%;
            justify-content: center;
            
            #elements{
                margin-top: 3rem;
                
                list-style-type: none;

                a{
                    padding: 0.5rem;
                    font-size: 1.6rem;
                    text-decoration: none;

                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    position: relative;
                    overflow: hidden;
                }
                a:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    right: 100%;
                    bottom: 0;
                    
                    background: rgb(255, 240, 240);
                    height: 1.5px;
                    -webkit-transition-property: right;
                    transition-property: right;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                a:hover:before, a:focus:before, a:active:before {
                    right: 0;
                }
            }
        }
    }
}

#navbar.light{
    background-color: rgba(255, 143, 143, 0.559);
    transition: ease 0.3s;
    width: 100%;
    height: 70px;
}
.is-scroll{
    
    margin-top: 2rem;
    list-style-type: none;
}


.pres{
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;
    h1{
        font-size: 3rem;   
        margin-bottom: 10px;
        
    }
    h2{
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    p{
        font-size: 1.4rem;
        margin-bottom: 50px;
        line-height: 3rem;
    }

    .pres-content{
        display: flex;
        gap: 4%;
        

        img{
            width: 40%;
            object-fit: cover;
            
        }
        p{
            font-size: 1.4rem;
        }
        .pres-p{

        }
    }
}

.bloc2{
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;

    h1{
        font-size: 3rem;   
        margin-bottom: 10px;
        margin-bottom: 50px;
    }
    .gridbloc{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    
    
    
        .image-grid{
            width: 450px;
            height: 350px;
            object-fit: cover;
            padding: 1rem;
            margin-top: 2rem;
        }
    }
}

@media only screen and (min-width: 1000px){
    .pres-content{
        display: block;
    }
}